* {
    padding: 0;
    margin: 0;
}
p {
   font-size: 25px; 
   margin-top: 15px;
}


.margin {
    margin-left: 20%;
    margin-right: 20%;
}

.grid_container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    grid-template-rows: repeat(6, 200px);
    
}
.grid_item {
    border: 2px solid #000;
    margin: 5px;
}

.grid_item:first-child {
    position: sticky;
    background: darkred;
    grid-column: 1 / 3;
    top: 0;
    height: 150px;
    text-align: center;
    
} 
.grid_item:nth-child(2) {
    text-align: center;
    background: blue;
    height: 380px;
    grid-row: 2 / 4;
    transition-property: height;
    transition-duration: 1s;
}
.grid_item:nth-child(2):hover { 
    height: 180px;
    
    grid-row: 2 / 3;
}
.grid_item:nth-child(3) {
    overflow: auto;
}

.grid_item:nth-child(4) {
    text-align: center;
    background: cyan;
    border-radius: 50%;
    transition-property: border-radius;
    transition-duration: 2s ;
}
.grid_item:nth-child(4):hover {
    border-radius: 0;
}
.grid_item:nth-child(5) {
    text-align: center;
    animation-name: colores;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}
@keyframes colores {
    from {
        background: black;
        color: white;
    }
    to {
        background: white;
        color: black;
    }
}
.grid_item:nth-child(6) {
    text-align: center;
    background: yellow;
    animation-name: ancho;
    animation-duration: 1.5s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

@keyframes ancho {
    from {
        width: 210px;
    }
    to {
        width: 300px;
    }
}
.grid_item:nth-child(7) {
    color: white;
    text-align: center;
    background: darkblue;
    cursor: pointer;
}
.grid_item:nth-child(7):active {
    background: cornflowerblue;
    border: 5px solid rgb(176, 195, 230);
}
.grid_item:nth-child(8) {
    text-align: center;
    background: tomato;
    transform: rotate(0);
    transition-property: transform;
    transition-duration: 1s;
}
.grid_item:nth-child(8):hover {
    transform: rotate(720deg);
}
.grid_item:nth-child(9) {
    width: auto;
    height: auto;
    background: darkviolet;
    transition-property: border-radius, width;
    transition-duration: 1s;
}
.grid_item:nth-child(9):hover {
   width:max
    
}
